<div class = "container-fluid">
	<div class="row">
		<div class="col-xs-8">
				<h3>
					{{ product.title }}
				</h3>
				<h4>
					{{ product.price | currency }}
				</h4>

				<img ng-src = "{{ product.photoUrl }}">

				<div>
					<span><b>Product Description: </b></span>
					<p>
						{{ product.description}}
					</p>
				</div>

				<div>
					<span><b>Categories:</b></span>
					<div ng-repeat="category in product.categories">
					{{ category.title }}
				</div>
			</div>

			<div>
				<span><b>User Reviews:</b></span>
				<div ng-repeat="review in product.reviews"><td>
			    <span ng-if="review.rating == 1">
                	Rating: <span style="font-color: crimson"> &#9829;&#9825;&#9825;&#9825;&#9825; </span>
                	<span>{{ review.text }}</span>
                	<p>{{ UserFactory.getUser(review.userId) }} posted at {{ review.createdAt | date:"longDate"}}</p>
     			</span>
        		<span ng-if="review.rating == 2">
					Rating: <span style="font-color: crimson"> &#9829;&#9829;&#9825;&#9825;&#9825; </span>
					<span>{{ review.text }}</span>
					<p>{{ review.getUser }} posted at {{ review.createdAt | date:"longDate" }}</p>
         		</span>
        		<span ng-if="review.rating == 3">
						Rating: <span style="font-color: crimson"> &#9829;&#9829;&#9829;&#9825;&#9825; </span>
						<span>{{ review.text }}</span>
						<p>user posted at {{ review.createdAt | date:"longDate" }}</p>
     			</span>
        		<span ng-if="review.rating == 4">
			        Rating: <span style="font-color: crimson"> &#9829;&#9829;&#9829;&#9829;&#9825; </span>
			        <span>{{ review.text }}</span>
			        <p>user posted at {{ review.createdAt | date:"longDate" }}</p>

    		 	</span>
        		<span ng-if="review.rating == 5">
			        Rating: <span style="font-color: crimson"> &#9829;&#9829;&#9829;&#9829;&#9829;</span>
			        <span>{{ review.text }}</span>
			        <p>user posted at {{ review.createdAt | date:"longDate" }}</p>
    		 	<span>

				</div>
			</div>

		<div>
			<button class="btn btn-default" ng-click="addToCart(product)" style="background-color: crimson; font-color: white" >
				<img height = "15px" src="/js/common/images/teeth-logo-white.png" />
				Add to Cart
			</button>
		</div>
		</div>
	</div>
</div>
