<div class = "container-fluid">
	<div class="row">
		<div class="col-xs-8">
				<h3>
					{{ product.title }}, {{ product.averageRating }}
				</h3>
				<h4>
					{{ product.price | currency }}
				</h4>

				<img ng-src = "{{ product.photoUrl }}">

				<div>
					<span><b>Product Description: </b></span>
					<p>
						{{ product.description}}
					</p>
				</div>

				<div>
					<b>Categories:</b>

					<div ng-repeat="category in product.categories">
						{{ category.title }}
					</div>
				</div>

			<div>
				<b>User Reviews:</b>
					<!-- <div ng-show="user.firstName !=='Unregistered'"> --> 
						<form ng-controller="ReviewController">
							Add your review for {{ product.title }}!
							<br>
							Rating:
							<br>

							<input type="radio" ng-model="review.rating" value="1">
							&#9829;&#9825;&#9825;&#9825;&#9825;<br>
							<input type="radio" ng-model="review.rating" value="2">
							&#9829;&#9829;&#9825;&#9825;&#9825;<br>						
							<input type="radio" ng-model="review.rating" value="3">
							&#9829;&#9829;&#9829;&#9825;&#9825;<br>
							<input type="radio" ng-model="review.rating" value="4">
							&#9829;&#9829;&#9829;&#9829;&#9825;<br>
							<input type="radio" ng-model="review.rating" value="5">
							&#9829;&#9829;&#9829;&#9829;&#9829;<br>	

							<br>
							Review:
							<br>
							<input type="text" id="text" ng-model="review.text" style="width: 300px; height: 200px">
							<br>
							<button ng-click="newReview()">
							submit
							</button>
						</form>
					<!-- </div> -->
			</div>
			<div ng-repeat="review in product.reviews"><td>
			    
			    <span ng-if="review.rating == 1">
                	Rating: 
                	<span style="font-color: crimson"> 
                		&#9829;&#9825;&#9825;&#9825;&#9825; 
                	</span>
                	<span>
                	<br>
                		{{ review.text }}
                	</span>
                	<p>
                		{{ review.userId }} posted at {{ review.createdAt | date:"longDate"}}
                	</p>
     			</span>
        		
        		<span ng-if="review.rating == 2">
					Rating: 
					<span style="font-color: crimson"> 
						&#9829;&#9829;&#9825;&#9825;&#9825; 
					</span>
					<span>
					<br>
						{{ review.text }}
					</span>
					<p>
						{{ review.userId }} posted at {{ review.createdAt | date:"longDate" }}
					</p>
         		</span>

        		<span ng-if="review.rating == 3">
					Rating: 
					<span style="font-color: crimson"> 
						&#9829;&#9829;&#9829;&#9825;&#9825; 
					</span>
					<span>
					<br>
						{{ review.text }}
					</span>
					<p>
					{{ review.userId }} posted at {{ review.createdAt | date:"longDate" }}
					</p>
     			</span>

        		<span ng-if="review.rating == 4">
			        Rating: 
			        <span style="font-color: crimson"> 
			        	&#9829;&#9829;&#9829;&#9829;&#9825;
			        </span>
			        <span>
			        <br>
			        	{{ review.text }}
			        </span>
			        <p>
			        {{ review.userId }} posted at {{ review.createdAt | date:"longDate" }}
			        </p>
    		 	</span>

        		<span ng-if="review.rating == 5">

			        Rating: 
			        <span style="font-color: crimson"> 
			        	&#9829;&#9829;&#9829;&#9829;&#9829;
			        </span>
			        <span>
			        <br>
			        	{{ review.text }}
			        </span>
			        <p>
			        	{{ review.userId }} posted at {{ review.createdAt | date:"longDate" }}
			        </p>
    		 	<span> 						
			</div>
		</div>


		<div>
			<button class="btn btn-default" ng-click="addToCart(product, user.id)" style="background-color: crimson; font-color: white" >
				<img height = "15px" src="/js/common/images/teeth-logo-white.png" />
				Add to Cart
			</button>
		</div>
		</div>
	</div>
</div>
<div ng-show="user &amp;&amp; user.firstName !== 'Unregistered'" class="welcome" style="">
            <span class="ng-binding">Welcome, Barak!</span>
            <a ng-click="logout()">Logout</a>
        </div>