<div>
    <form ng-submit="updateCart()">
        <ul ng-repeat="product in products">
            <li>
                {{product.productId}}
            </li>
            <li >
                {{product.price | currency }}
            </li>
            <!-- tc: will remove product if the qty become 0 -->
            <input type="text" ng-model="product.quantity" ng-keyup="update(product)" placeholder="{{product.quantity}}"/>
        </ul>
        <button type="submit" class="btn btn-sucess">update</button>
    </form>
</div>
