<div>
    <form ng-submit="updateCart()">
        <ul ng-repeat="product in products">
            <li>
                {{product.title}}
            </li>
            <li >
                {{product.price | currency }}
            </li>
            <!-- tc: write a function for updateQty -->
            <select ng-model="product.quantity" ng-options="num for num in nums" ng-change="updateQty(num)">
            </select>
            <button class="glyphicon glyphicon-remove"></button>
        </ul>
    </form>
</div>
