<div class = "container-fluid">
	<div>
		<h3>
			{{ product.title }}, ${{ product.price }}
		</h3>
		<img ng-src = "{{ product.photoUrl }}">
		<h4>
			{{ product.description}}
		</h4>
		<h4>
		</h4>
		<div ng-repeat="category in product.categories">
			{{categories.title}}
		</div>
	<h4>
		User Reviews:
	</h4>
		<p ng-repeat="review in product.reviews">
		Rating: {{review.rating}}
		<br>{{ review.text }}
<!-- 		this doesn't work yet
 --><!-- 		<br>user: {{review.userId}}
 -->		</p>
	</div>
</div>

<!-- do an ng repeat for the reviews  -->
