<div class="row">
	<div class="col-md-4" ng-show="user.address">
		<h4>Shipping Address</h4>
			<p ng-model="name">{{ user.fullName }}</p>
			<p>{{ user.address }}</p>
			<button class="btn btn-primary" ng-click="setAddress(user.address)">Use This Address</button>
		</div>
		<br>

		<div class="col-md-4">
		<!-- 	doesn't work  -->
		<!-- 	<div ng-hide="checkOutInfo.$pristine" ng-messages="checkOutInfo.$error">
				<div ng-show="checkOutInfo.input.email.$error" ng-message="checkOutInfo.email.$error" class="alert alert-warning">Please enter a valid Email</div>
			</div> -->
		<!-- 	show s with google -->

			<form name="checkOutInfo">
				<h4>New Shipping Address</h4>
		 		<div class="form-group">
					<label for="exampleInputEmail1">Recieptient Name</label>
					<input required class = "form-control" ng-model="firstname" placeholder="firstname"/>
					<input required class = "form-control" ng-model="lastname" placeholder="lastname"/>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Address</label>
					<input required class = "form-control" ng-model="address" placeholder="address"/>
					<input class = "form-control" ng-model="apt" placeholder="Apt/Suite #"/>
					<input required class = "form-control" ng-model="city" placeholder="city"/>
					<input required class = "form-control" ng-model="zip" placeholder="zip"/>
					<select class="form-control state" ng-model="state" ng-options="state for state in states"></select>
				</div>
				<button ng-click="setAddress()" class="btn btn-primary">Use This Address</button>
			</form>

			<div ng-hide="user.email" class="form-group">
				<form name="emailForm">
					<label for="exampleInputEmail1">Email</label>
					<input type="email" class = "form-control" ng-model="userEmail" placeholder="please enter an email" required/>
					<button ng-click="setEmail(userEmail)" class="btn btn-primary">Confirm</button>
				</form>
			</div>
<!-- 		//checkOutInfo.$invalid -->
		<button ng-disabled="!confirmation()" ng-click="next()" class="btn btn-primary">next</button>
	</div>
