<div class="container">
	<h4>Shipping Address</h4>

	<!-- if someone's loggin in and has address show address block -->
	<div ng-show="user && user.address && !change">
		
		<p>{{ user.fullName }}</p>
		<p>{{ user.address }}</p>
		<button  class="btn btn-default" ng-disabled="change"ng-click="toggle()">Change</button>
		<button class="btn btn-danger" ng-show="change">Use This Address</button>
	</div>
	<form ng-show="!user.address || change">
 		<div class="form-group">
			<label for="exampleInputEmail1">First Name</label>
			<input ng-model="firstname" placeholder="firstname"/>
			<label for="exampleInputEmail1">Last Name</label>
			<input ng-model="lastname" placeholder="lastname"/>
		</div>
		<div class="form-group">
			<label for="exampleInputEmail1">Address</label>
			<input ng-model="street" placeholder="street"/>
			<input ng-model="city" placeholder="city"/>
			<input ng-model="zip" placeholder="zip"/>
			<select class="form-control state" ng-model="state" ng-options="state for state in states"></select>
		</div>
		<button class="btn btn-danger">Use This Address</button>
	</form>

</div>