<div class="container">
	<h1>DEFINITELY BUYING THESE</h1>
	<div>
		<p><span><b>Name: </b></span> {{finalInfo.fisrtName}}</p>
		<p><span><b>Address: </b></span> {{finalInfo.address}}</p>
		<p><span><b>Email: </b></span> {{finalInfo.email}}</p>
	</div>
	<div>
		<p><span><b>Items: </b></span></p>
		<div ng-repeat="product in products">
			<p><span><b>Name: </b></span> {{product.title}}</p>
			<p><span><b>Price: </b></span> {{product.price | currency}}</p>
			<p><span><b>Quantity: </b></span> {{product.quantity}}</p>
		</div>
	</div>
	<div>
		<p><span><b>Total: </b></span> $ total here</p>
	</div>
	<button ng-click="submit()" class="btn btn-primary">submit</button>
</div>


